---
import UnifiedTerminalLayout from '../layouts/UnifiedTerminalLayout.astro';
import { getCollection } from 'astro:content';
import PostCard from '../components/PostCard.astro';
import { sortByDate } from '../utils/collectionUtils';
import { createExcerpt } from '../utils/stringUtils';

// Get all blog posts
const blogPosts = await getCollection('blog');

// Sort posts by date (newest first)
const sortedPosts = sortByDate(blogPosts);

// Using imported createExcerpt function from utils/stringUtils.js
---

<UnifiedTerminalLayout
  title="Blog"
  pageType="main"
  activeNav="blog"
  commandPrompt="ls blog/"
  typingSpeed={10}>
      <h1>Recent Articles</h1>
      <hr />

      <div class="blog-posts">
        {sortedPosts.map((post) => (
          <PostCard
            title={post.data.title}
            date={post.data.date}
            url={`/blog/${post.slug}`}
            content={post.body}
            category={post.data.category}
          />
        ))}
      </div>
</UnifiedTerminalLayout>
<style>
  .blog-posts {
    margin-top: var(--space-lg);
  }
</style>