---
import '../styles/global.css';

interface Props {
	title: string;
	description?: string;
	image?: string;
}

const { title, description = "Blog Posts, Communities, and Projects", image = "/images/icon.png" } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="description" content={description}>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content={Astro.url} />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={description} />
		<meta property="og:image" content={new URL(image, Astro.url)} />

		<title>{title} | Henry Needs Coffee</title>
	</head>
	<body>
		<main>
			<slot />
		</main>
	</body>
</html>

<style is:global>
	:root {
		--accent-color: #355366;
		--accent-color-dark: #274050;
		--accent-color-light: #87b4c5;
		--bg-color: #355366;
		--terminal-bg: #222222;
		--text-color: #ffffff;
		--header-bg: #E0E8F0;
		--link-color: #87b4c5;
		--link-hover: #005096;
	}

	html {
		font-family: Menlo, Monaco, "Consolas", "Courier New", "Courier";
		background: var(--bg-color);
		color: var(--text-color);
		height: 100%;
	}

	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		background-color: var(--bg-color);
	}

	main {
		flex: 1;
		width: 100%;
		max-width: 1200px;
		margin: 0 auto;
		padding: 0;
		box-sizing: border-box;
	}

	a {
		color: var(--link-color);
		text-decoration: none;
	}

	a:hover {
		text-decoration: underline;
		color: var(--link-hover);
	}

	h1, h2, h3, h4, h5, h6 {
		margin: 1rem 0 0.5rem;
		color: var(--text-color);
	}

	p {
		margin: 0.5rem 0 1rem;
		line-height: 1.5;
		color: var(--text-color);
	}
</style>